* {
    box-sizing: border-box
}
@font-face {
    font-family: MaximumVoltageItalic;
    src: url(../FONTES/Maximum\ Voltage\ Italic.otf);
}
@font-face {
    font-family: font1;
    src: url(../FONTES/TypoSlab\ Irregular\ Demo.otf);
}

/* --- //////////////////////////////////////////////////////// BODY //////////////////////////////////////////////////////// --- */

body {
    font-family: Verdana, sans-serif; 
    margin:0;
}
#segmento1{
    display: block;
    justify-content: center;
    align-items: center;
}
.Titulo{
    font-weight: bold;
}

/* --- //////////////////////////////////////////////////////// HEADER //////////////////////////////////////////////////////// --- */

header{
    background-color: #FFD101;
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

a{
    color: black;
    text-decoration: none;
}

li{
    display: inline-block;
}

#NomeEmpresa{
    display: inline-block;
    color: black;
    font-size: 28px;
    font-family: MaximumVoltageItalic;
    margin-left: 10px;
}

/* --- //////////////////////////////////////////////////////// SLIDESHOW //////////////////////////////////////////////////////// --- */

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    top: 5vh;
    position: relative;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

hr{
    top: 50px;
}
